<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
 <!--  <%= link_to "terminator", destroy_user_session_path,
  method: :delete, class: "btn btn-danger" %>
  <%= link_to "Twitter Feed", feed_path, class:"btn btn-default" %> -->
  <%= render "layouts/footer" %>
</html>
